
{% if queryResult %}

<table>
    <caption> <h1 class="table-overview"> Bestellung </h1> </caption>
    <tr>
        <th> Die Bestellung </th>
        <th> bestellt </th>
        <th> im Ofen </th>
        <th> fertig </th>
        <th> unterwegs </th>
    </tr>

    {% for item in queryResult %}
    <tr>
        <td><label> {{ item.name }} ({{item.quantity}} stück) </label></td>
        {% for i in 0..3 %}
        <td>
            <input type="radio" {% if i == 3 %} disabled="disabled" {% endif %} {% if item.state == i %}checked="checked"{% endif %} name="{{ item.orderitemid }}"><br>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% else %}

<p>Keine Einträge</p>
{% endif %}





