
{% if message %}
    <h2>{{message}}</h2>
{% endif %}

{% if queryResult %}
<table>
    <caption> <h1 class="table-overview"> Bestellung </h1> </caption>
    <tr>
        <th> Die Bestellung </th>
        <th> bestellt </th>
        <th> im Ofen </th>
        <th> fertig </th>
        <th> unterwegs </th>
    </tr>

    {% for item in queryResult %}
    <tr>
        <td><label> {{ item.name }} ({{item.quantity}} stück) </label></td>
        {% for i in 0..3 %}
        <td>
            <input value="{{ i }}" type="radio" {% if i == 3 %} disabled="disabled" {% endif %} {% if item.state == i %}checked="checked"{% endif %} name="item-{{ item.orderitemid }}"><br>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>


<input id="save_submit" type="submit" name="speichern" value="speichern"/>

{% else %}

<p>Keine Einträge</p>
{% endif %}





