
{% if queryResult %}


<table>
    <caption> <h1 class="table-overview"> Kunden&uuml;bersicht </h1> </caption>
    <tr>
        <th> Ihre Bestellung </th>
        <th> bestellt </th>
        <th> im Ofen </th>
        <th> fertig </th>
        <th> unterwegs </th>
    </tr>

    {% for item in queryResult %}
    <p>{{item.orderitemid}}</p>
    <tr>
        <td><label> Margherita </label></td>
        {% for i in 0..3 %}
            <td>
                <input type="radio" disabled="disabled" {% if item.state == i %}checked="checked"{% endif %} name="{{ item.orderitemid }}"><br>
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% else %}

<p>Keine Einträge</p>
{% endif %}





