
{% if items %}

<table>
    <caption> <h1 class="table-overview"> Kunden&uuml;bersicht </h1> </caption>
    <tr>
        <th> Ihre Bestellung </th>
        <th> bestellt </th>
        <th> im Ofen </th>
        <th> fertig </th>
        <th> unterwegs </th>
        <th> geliefert </th>

    </tr>

    {% for item in items %}
    <tr data-id="{{ item.id }}">
        <td><label> {{ item.name }} ({{item.quantity}} stück) </label></td>
        {% for i in 0..4 %}
            <td>
                <input type="radio" disabled="disabled" {% if item.state == i %}checked="checked"{% endif %} name="{{ item.orderitemid }}"><br>
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% else %}

<p>Keine Einträge</p>
{% endif %}





