
body{
    font-family: sans-serif;
    padding: 16px;
    margin: 0;
    background: url("../images/mochaGrunge.png");
    font-size: 0.8em;
}

#container{
    background-color: white;
    max-width: 1200px;
    min-width: 800px;
    margin: 50px auto;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
}

header{
    padding: 16px;
    background-color: aqua;
    height: 200px;
    background: url("../images/HalloPizza_header.jpg") no-repeat 50% 50%;
}

#logo{
    display: block;
    width: 258px;
    height: 182px;
    background: url("../images/HalloPizza-logo.png") no-repeat;
    text-indent: -99999px;
}

#content{
    display: flex;
    height: 100%;

}

#left{
    width: 70%;
    padding: 16px;
}

#right{
    width: 30%;
    padding: 20px;
    background-color: aliceblue;
}


#right h1{
    font-weight: normal;
}

footer{
    padding: 16px;
}

footer a{
    color: black;
}

.message{
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.4em;
}
.message.info{
    background-color: rgb(187, 242, 223);
}
.message.error{
    background-color: rgb(242, 113, 102);
}