

#pizzamenu{

    list-style: none;
    padding: 0;

}

.pizza-menu-eintrag{
    display: flex;
    padding: 5px;
    clear: both;
    margin: 20px;
    overflow: hidden;
    background-color: floralwhite;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.pizza-menu-eintrag:hover{
    cursor: pointer;

}

.pizza-menu-eintrag img{
    float: left;
    width: 150px;
    border-radius: 5px;
}
.pizza-menu-eintrag-info{
    margin-left: 15px;
    width: 100%;
}

.pizza-menu-eintrag h2{
    display: block;
    width: 80%;
    float:left;
    margin:0;
}

.pizza-menu-eintrag p{
    display: inline-block;
}

#header_right{
    font-size: medium;
    font-weight: bold;
    text-align:center;
}

.price{
    font-size: larger;
    font-weight: bold;
    width: 20%;
    margin: 0;
    text-align: right;
}