

#pizzamenu{

    list-style: none;
    padding: 0;

}

.pizza-menu-eintrag{
    display: flex;
    padding: 5px;
    clear: both;
    margin: 20px;
    overflow: hidden;
    background-color: floralwhite;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.pizza-menu-eintrag:hover{
    cursor: pointer;

}

.pizza-menu-eintrag img{
    float: left;
    width: 150px;
    border-radius: 5px;
}
.pizza-menu-eintrag-info{
    margin: 0 15px;
}

.pizza-menu-eintrag h2{
    display: block;
    margin:0;
}

.pizza-menu-eintrag p{
    display: inline-block;
}