tr:nth-child(even) {
    background-color: darkgrey;
}

tr:nth-child(odd) {
    background-color: antiquewhite;
}

.table-overview{
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align:center;
}

table{
    border: 1px solid black;
}

th,td{
    margin: 5px 10px;
    padding :5px 25px;
}

.fahrer-kunden-eintrag{
    padding: 5px 5px;
    margin: 10px 0;
    text-align:left;
    border: 1px solid black;
}